# IF image file is not on STAGING let's check production
RewriteEngine on
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteCond http://digitaljimmi.com%{REQUEST_URI} -f
RewriteRule \.(gif|jpe?g|png|bmp) http://digittaljimmi.com%{REQUEST_URI} [L,R=301]

# IF image file is not on PROD let's check staging
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
#RewriteCond http://digitaljimmi.com.com%{REQUEST_URI} -f
RewriteRule \.(gif|jpe?g|png|bmp) http://digitaljimmi.com%{REQUEST_URI} [L,R=301]
<IfModule mod_headers.c> 
  Header set X-UA-Compatible "IE=Edge,chrome=1" 
</IfModule>

# BEGIN W3TC Browser Cache
<IfModule mod_deflate.c>
    <IfModule mod_headers.c>
        Header append Vary User-Agent env=!dont-vary
    </IfModule>
        AddOutputFilterByType DEFLATE text/css text/x-component application/x-javascript application/javascript text/javascript text/x-js text/html text/richtext image/svg+xml text/plain text/xsd text/xsl text/xml image/x-icon application/json
    <IfModule mod_mime.c>
        # DEFLATE by extension
        AddOutputFilter DEFLATE js css htm html xml
    </IfModule>
</IfModule>
# END W3TC Browser Cache
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>


php_value memory_limit 256M
php_value upload_max_filesize 256M
php_value post_max_size 256M
php_value max_input_vars 20000

# END WordPress
