<div class="container">
                                                <div class="header">
                                                      <div class="headerLeft">
                                                            <p class="fa fa-mobile"><strong>Ring til mig</strong><br><span>(+45) 26 27 80 23</span></p>
                                                            <p class="fa fa-envelope"><strong>Mail mig</strong><br><span>Jimmirbn@gmail.com</span></p>
                                                      </div>
                                                      <img class="headImage" src="images/1.jpg" alt="HeadImage">
                                                      <div class="headerRight">
                                                            <p class="fa fa-linkedin-square"><strong>Check min profil</strong><br><span><a href="http://lnkd.in/FxFvH4">linkedin.com</a></span></p>
                                                            <p class="fa fa-camera-retro"><strong>Check mine billeder</strong><br><span><a href="http://instagram.com/jimbohero">instagram.com</a></span></p>
                                                      </div>
                                                </div>
                                                <section class="Medescription">
                                                      <h1>Jimmi Nielsen</h1>
                                                      <h3>Uddannet multimediedesigner snart bachelor i Web development</h3>
                                                      <p>Frontend udvikler med interesse i Php</p>
                                                      <p>Danmark, København</p>
                                                      <div class="moreMe">
                                                            <div class="col-md-6">
                                                                  <p><strong>Profil</strong></p>
                                                                  <p>Jeg er uddannet multimediedesigner med stor interresse for web.
                                                                        Jeg har indblik i de fleste multimedie sprog og programmer. Jeg har lavet flere hjemmesider og facebook apps, både med CMS og kode fra bunden. Samtidig har jeg en stor interesse i motion graphics og interaktivt design. Meget computer kyndig og lærer hurtigt til og fra mig.<br> Min fritid benytter jeg med at holde mig i form medens jeg holder af at bruge tid foran computeren i form af design og programmering af egne projekter, for det meste i Php.
                                                                        Jeg er 25 år, har kæreste og er ikke-ryger.
                                                                  </p>
                                                            </div>
                                                            <div class="col-md-6">
                                                                  <p><strong>Erfaring</strong></p>
                                                                  <p>I mine 7 års erfaring som sælger og it support i Expert har jeg fået god forståelse for kundeservice, brugerscenarier og generel
                                                                        arbejdsforståelse.
                                                                        Mine opgaver har stået i selvfølgelig salg, hvor min kreative
                                                                        udfoldelse har taget sted ved at producere skilte og andet grafisk til butikken. Samtidig har jeg været i praktik og derefter ansat som freelance frontend-udvikler i Nodes a/s. Hvor jeg har lavet Facebook apps til alt fra interaktive apps til små konkurrence apps.<br>
                                                                        Min interesse har ligget fast på frontend, css, html, jquery og backend sprog Php.<br>Samtidig i min bachelor uddannelse har jeg rørt ved sprog som C# og java samt Android og Phonegap/Cordova.
                                                                  </p>
                                                            </div>
                                                      </div>
                                                      <div class="arrow-down"></div>
                                                </section>
                                                <div class="row"></div>
                                                <section class="MyStory">
                                                      <h3 class="headlineP">Min historie</h3>
                                                      <div class="leftborder"></div>
                                                      <div class="rightborder"></div>
                                                      <div class="row">
                                                            <div class="firstBox">
                                                                  <div class="leftbox">
                                                                        <div class="ball">2006</div>
                                                                        <h4>Startede som deltidssælger i Merlin, senere Expert a/s</h4>
                                                                        <p>Merlin, Allerød, Expert Hillerød, Expert Lyngby, On/Off 7 år, 2006 - 2014</p>
                                                                  </div>
                                                                  <div class="rightbox">
                                                                        <div class="ball">2008</div>
                                                                        <h4>Fik huen på fra STX, Sproglig.</h4>
                                                                        <p>Gribskov gymnasium, 2005-2008</p>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="row">
                                                            <div class="firstBox m0">
                                                                  <div class="leftbox">
                                                                        <div class="ball">2009</div>
                                                                        <h4>Meldte mig til værnepligt</h4>
                                                                        <p>Vordingborg kaserne, DANILOG, menig</p>
                                                                  </div>
                                                                  <div class="rightbox">
                                                                        <div class="ball">2011</div>
                                                                        <h4>Prøvede CBS, det var ikke mig.</h4>
                                                                        <p>Information Management, CBS 2010 - 2011</p>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="row">
                                                            <div class="firstBox m0">
                                                                  <div class="leftbox">
                                                                        <div class="ball">2012</div>
                                                                        <h4>Startede som Multimediedesigner</h4>
                                                                        <p>Københavns Erhvervsakademi, KEA, 2012 - 2014</p>
                                                                  </div>
                                                                  <div class="rightbox">
                                                                        <div class="ball">2013</div>
                                                                        <h4>Praktik som Front-end udvikler hos Nodes a/s</h4>
                                                                        <p>Nodes a/s, 2013 August - November</p>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="row">
                                                            <div class="firstBox m0" style="margin-top:20px!important">
                                                                  <div class="leftbox">
                                                                        <div class="ball">2014</div>
                                                                        <h4>Blev uddannet multimediedesigner</h4>
                                                                        <p>Københavns Erhvervsakademi, KEA, 2012 - 2014</p>&
                                                                        <h4>Fik job som Grafisk web designer/Front-end udvikler.</h4>
                                                                        <p>Interresearch a/s, se udvalgte arbejdsopgaver under portfolie</p>
                                                                  </div>
                                                                  <div class="rightbox m0">
                                                                        <!-- <div class="ball">2014</div> -->
                                                                        <h4>Begyndte på PBA i Web Development</h4>
                                                                        <p>KEA Medie/IT, 2014 - 2015</p>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </section>
                                                <section class="Personality">
                                                      <h3 class="headlineP">Personlighed</h3>
                                                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                      width="61px" height="21px" viewBox="0 0 61 21" enable-background="new 0 0 61 21" xml:space="preserve">
                                                      <polygon fill="#26B99A" points="30.499,21 0,0 61,0 "/>
                                                      <g><polygon fill="#FFFFFF" points="31.5,20.311 30.499,21 29.5,20.312 29.5,0 31.5,0  "/></g></svg>
                                                      <div class="leftborder"></div>
                                                      <div class="rightborder"></div>
                                                      <div class="row">
                                                            <div class="firstBox">
                                                                  <div class="leftbox">
                                                                        <div class="fa fa-chevron-down fa-2x ball"></div>
                                                                        <h4>Ansvarsbevidst</h4>
                                                                        <p>Jeg er pålidelig, ansvarsbevidst og altid glad. Jeg er målbevidst, elsker at tale med kunder, nye mennesker og finde de rigtige løsninger i fællesskab.</p>
                                                                  </div>
                                                                  <div class="rightbox">
                                                                        <div class="fa fa-male fa-2x ball"></div>
                                                                        <h4>Teamplayer</h4>
                                                                        <p>Jeg er en teamplayer men kan problemfrit arbejde på egen hånd.</p>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="firstBox m0">
                                                            <div class="leftbox">
                                                                  <div class="fa fa-dribbble fa-2x ball"></div>
                                                                  <h4>Basketball, NBA</h4>
                                                                  <p>Går en del op i basket.</p>
                                                            </div>
                                                      </div>
                                                </section>
                                                <section class="Skills">
                                                      <h3 class="headlineP">Skills</h3>
                                                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                      width="61px" height="21px" viewBox="0 0 61 21" enable-background="new 0 0 61 21" xml:space="preserve">
                                                      <polygon fill="#FFFFFF" points="30.499,21 0,0 61,0 "/>
                                                      <g>
                                                            <polygon fill="#26B99A" points="31.5,20.311 30.499,21 29.5,20.312 29.5,0 31.5,0     "/>
                                                      </g>
                                                </svg>
                                                <div class="leftborder"></div>
                                                <div class="rightborder"></div>
                                                <div class="row">
                                                      <div class="firstBox">
                                                            <div class="leftbox">
                                                                  <div class="fa fa-paint-brush fa-lg ball"></div>
                                                                  <h4>Photoshop</h4>
                                                                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in erat id neque porttitor tristique molestie eget augue. Ut a velit neque.</p> -->
                                                            </div>
                                                            <div class="rightbox">
                                                                  <div class="fa fa-pencil fa-2x ball"></div>
                                                                  <h4>Illustrator</h4>
                                                                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in erat id neque porttitor tristique molestie eget augue.</p> -->
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="row">
                                                      <div class="firstBox">
                                                            <div class="leftbox">
                                                                  <div class="fa fa-file-text-o fa-lg ball"></div>
                                                                  <h4>Indesign</h4>
                                                                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in erat id neque porttitor tristique molestie eget augue. Ut a velit neque.</p> -->
                                                            </div>
                                                            <div class="rightbox">
                                                                  <div class="fa fa-html5 fa-2x ball"></div>
                                                                  <h4>Html/Html5/CSS</h4>
                                                                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in erat id neque porttitor tristique molestie eget augue.</p> -->
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="row">
                                                      <div class="firstBox">
                                                            <div class="leftbox">
                                                                  <div class="fa fa-code fa-lg ball"></div>
                                                                  <h4>Javascript/Jquery</h4>
                                                                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in erat id neque porttitor tristique molestie eget augue. Ut a velit neque.</p> -->
                                                            </div>
                                                            <div class="rightbox">
                                                                  <div class="ball">Php</div>
                                                                  <h4>Php</h4>
                                                                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in erat id neque porttitor tristique molestie eget augue.</p> -->
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="row">
                                                      <div class="firstBox">
                                                            <div class="leftbox">
                                                                  <div class="ball endBall">Tak fordi du kiggede forbi</div>
                                                            </div>
                                                      </div>
                                                </div>
                                          </section>
                                    </div>